{block content}
<div class="row">
    <h1 n:block=title>{$title}</h1>
    <hr/>
    <h2>Načíst objednávky z Shoptetu</h2>
    <h3>
        Parametry
    </h3>
    <p>Objednávka musí být ve stavu <strong>Vyrobit, Právě vyráběno a zkompletováno.</strong></p>
    <p>Objednávka musí mít jako dopravce <strong>ID 83</strong> nebo dopravce <strong>ID 74</strong>.</p>
    <hr/>
    <a href="{link loadOrders!}" class="btn btn-primary">Načíst objednávky z Shoptetu</a>
    {if !empty($orders)}
        <h3>Načtené objednávky</h3>
        <p>
            Počet načtených objednávek: {count($orders)}
        </p>
        <h3>Ukázka adres k propsání (prvních 10 adres)</h3>
        {foreach $orders as $order}
            {if $iterator->counter < 11}
                {$order['delivery']['destination_address']['street_name']}<br/>
            {/if}
        {/foreach}
        <hr />
        <a href="{link pushOrdersToGoDeliver!}" class="btn btn-lg btn-warning">Propsat objednávky do Go Deliver (účet <em>portus</em>)</a>
    {else}
        <p class="alert alert-info">Pro propis objednávek do Go Deliver je nutné je <strong>nejprve načíst</strong> z
            Shoptetu</p>
    {/if}
</div>